
html,body {
  font-size: 1.6rem;
  margin: 0;
  font-family: "pretendard", serif;
  font-size: 16px;
  font-weight: 400;
}

#app { font-size: inherit; height: 100vh; width: 100vw; }

* { margin: 0; padding: 0; }


@font-face { font-family:"pretendard"; src:url("./assets/fonts/Pretendard-Black.ttf"); font-weight: 900; }
@font-face { font-family:"pretendard"; src:url("./assets/fonts/Pretendard-Black.woff"); font-weight: 900; }

@font-face { font-family:"pretendard"; src:url("./assets/fonts/Pretendard-Bold.ttf"); font-weight: 800; }
@font-face { font-family:"pretendard"; src:url("./assets/fonts/Pretendard-Bold.woff"); font-weight: 800; }

@font-face { font-family:"pretendard"; src:url("./assets/fonts/Pretendard-ExtraBold.ttf"); font-weight: 700; }
@font-face { font-family:"pretendard"; src:url("./assets/fonts/Pretendard-ExtraBold.woff"); font-weight: 700; }

@font-face { font-family:"pretendard"; src:url("./assets/fonts/Pretendard-ExtraLight.ttf"); font-weight: 200;  }
@font-face { font-family:"pretendard"; src:url("./assets/fonts/Pretendard-ExtraLight.woff"); font-weight: 200; }

@font-face { font-family:"pretendard"; src:url("./assets/fonts/Pretendard-Light.ttf"); font-weight: 300; }
@font-face { font-family:"pretendard"; src:url("./assets/fonts/Pretendard-Light.woff"); font-weight: 300; }

@font-face { font-family:"pretendard"; src:url("./assets/fonts/Pretendard-Medium.ttf"); font-weight: 500; }
@font-face { font-family:"pretendard"; src:url("./assets/fonts/Pretendard-Medium.woff"); font-weight: 500; }

@font-face { font-family:"Pretendard"; src:url("./assets/fonts/Pretendard-Regular.ttf"); font-weight: 400; }
@font-face { font-family:"Pretendard"; src:url("./assets/fonts/Pretendard-Regular.woff"); font-weight: 400; }

@font-face { font-family:"pretendard"; src:url("./assets/fonts/Pretendard-SemiBold.ttf"); font-weight: 600; }
@font-face { font-family:"pretendard"; src:url("./assets/fonts/Pretendard-SemiBold.woff"); font-weight: 600; }

@font-face { font-family:"pretendard"; src:url("./assets/fonts/Pretendard-Thin.ttf"); font-weight: 100; }
@font-face { font-family:"pretendard"; src:url("./assets/fonts/Pretendard-Thin.woff"); font-weight: 100; }